
<!-- #modal-dialog -->
<div class="modal fade" id="editBodyModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Body add/edit</h4>
            </div>
            <div class="alert alert-danger" ng-show="vm.errors.message">
                Errors, the backend responded: {{ vm.errors.message }}
            </div>
            <form name="bodyForm" ng-submit="vm.saveBodyForm()" class="margin-bottom-0" novalidate>
                <div class="modal-body">
                    <div class="form-group m-b-20">
                        <label for="name">Name*</label>
                        <input type="text" id="name" class="form-control" ng-model="vm.body.name" placeholder="Body name" required/>
                        <p class="label label-danger" ng-show="vm.errors.name">{{ vm.errors.name }}</p>
                    </div>
                    <div class="form-group m-b-20">
                        <label for="name">Description</label>
                        <input type="text" id="name" class="form-control" ng-model="vm.body.description" placeholder="Body Description"/>
                        <p class="label label-danger" ng-show="vm.errors.description">{{ vm.errors.description }}</p>
                    </div>
                    <div class="form-group m-b-20">
                        <label for="legacy_key">Legacy Key*</label>
                        <input type="text" id="legacy_key" class="form-control" ng-model="vm.body.legacy_key" placeholder="Body legacy key"/>
                        <p class="label label-danger" ng-show="vm.errors.legacy_key">{{ vm.errors.legacy_key }}</p>
                    </div>
                    <div class="form-group m-b-20">
                        <label for="email">Email*</label>
                        <input type="email" id="email" class="form-control" ng-model="vm.body.email" placeholder="Body email" required/>
                        <p class="label label-danger" ng-show="vm.errors.email">{{ vm.errors.email }}</p>
                    </div>
                    <div class="form-group m-b-20">
                        <label for="phone">Phone</label>
                        <input type="text" id="phone" class="form-control" ng-model="vm.body.phone" placeholder="Body phone"/>
                        <p class="label label-danger" ng-show="vm.errors.phone">{{ vm.errors.phone }}</p>

                    </div>                  
                    <div class="form-group m-b-20">
                        <label for="address">Address</label>
                        <input type="text" id="address" class="form-control" ng-model="vm.body.address" placeholder="Body address" required/>
                        <p class="label label-danger" ng-show="vm.errors.address">{{ vm.errors.address }}</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <!--<button class="btn btn-sm btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i> Close</button>-->
                    <button class="btn btn-sm btn-success" type="submit"><i class="fa fa-save"></i> Save body</button>
                </div>
            </form>
        </div>
    </div>
</div>
