<h1 class="page-header">Join requests</h1>

<div class="row">
  <div class="input-group">
    <span class="input-group-addon"><i class="fa fa-search"></i> Search</span>
    <input type="text" class="form-control" placeholder="Type any keywords" ng-model="vm.query" ng-change="vm.resetData()" />
  </div>
</div>

<hr />
<div infinite-scroll="vm.loadNextPage()" infinite-scroll-disabled="vm.infiniteScroll.block" >
  <ul class="registered-users-list clearfix">
    <li ng-repeat="join_request in vm.infiniteScroll.data" class='animate-infinite-scroll'>
      <a ui-sref="app.profile({id: join_request.member.seo_url})">
        <img src="assets/img/user-5.jpg" alt="profile pic" />
        <h4 class="username text-ellipsis">
          {{ join_request.member.first_name }} {{ join_request.member.last_name }}
          <small ng-show="!join_request.approved">{{ join_request.motivation }}</small>
          <small ng-show="join_request.approved">Approved</small>
        </h4>
      </a>
      <span ng-show="!join_request.approved">
        <button type="button" ng-click="vm.processJoinRequest(join_request, true)" class="btn btn-primary"><i class="fa fa-plus"></i></button>
        <button type="button" ng-click="vm.processJoinRequest(join_request, false)" class="btn btn-danger"><i class="fa fa-minus"></i></button>
      </span>
    </li>
  </ul>
</div>

<p ng-show="vm.infiniteScroll.data.length === 0 && !vm.infiniteScroll.busy">
  No join requests found that match the current search
</p>
<p ng-show="vm.infiniteScroll.loadingMoreResults">
  Searching...
</p>
