<h1 class="page-header">Body members</h1>

<ul class="registered-users-list clearfix">
  <li ng-repeat="body_membership in vm.body_members">
    <a ui-sref="app.profile({id: body_membership.member.seo_url})">
      <img src="assets/img/user-5.jpg" alt="profile pic" />
      <h4 class="username text-ellipsis">
        {{ body_membership.member.first_name }} {{ body_membership.member.last_name }}
        <small ng-show="body_membership.comment">{{ body_membership.comment }}</small>
      </h4>
    </a>
    <button type="button" ng-click="vm.editMembership(body_membership)" class="btn btn-warning"><i class="fa fa-pencil"></i></button>
    <button type="button" ng-click="vm.deleteMembership(body_membership)" class="btn btn-danger"><i class="fa fa-minus"></i></button>
  </li>
</ul>
<span ng-show="!vm.body_members.length">No members in this body</span>

<ng-include src="vm.baseUrl + 'rewrite/bodies/edit_body_membership_form.html'"></ng-include>