<h1 class="page-header">{{ vm.body.name }}</h1>

<div class="row">
	<div class="col-sm-3">Logo still not implemented</div>
	<div class="col-sm-9">
		<table class="table">
			<tr>
				<td>Name</td>
				<td>{{ vm.body.name }}</td>
			</tr>
			<tr>
				<td>Description</td>
				<td>{{ vm.body.description }}</td>
			</tr>
			<tr>
				<td>Code</td>
				<td>{{ vm.body.legacy_key }}</td>
			</tr>
			<tr>
				<td>Email</td>
				<td><a href="mailto:{{ vm.body.email }}">{{ vm.body.email }}</a></td>
			</tr>
			<tr>
				<td>Phone</td>
				<td>{{ vm.body.phone }}</td>
			</tr>
			<tr>
				<td>Name</td>
				<td>{{ vm.body.name }}</td>
			</tr>
			<tr>
				<td>Address</td>
				<td>
					{{ vm.body.address }}
				</td>
			</tr>
			<tr>
				<td>Shadow Circle</td>
				<td>
					<span ng-show="!vm.body.shadow_circle">No shadow circle assigned</span>
					<span ng-show="vm.body.shadow_circle">
						<a ui-sref="app.circles.single({id: vm.body.shadow_circle.seo_url})">{{ vm.body.shadow_circle.name }}</a>
					</span>
				</td>
			</tr>
		</table>
	</div>
</div>

<a class="btn btn-white" ui-sref="app.bodies.members({id: vm.body.seo_url})">View Members</a>
<a class="btn btn-white" ui-sref="app.bodies.join_requests({id: vm.body.seo_url})">View Join Requests</a>
<button class="btn btn-primary" type="button" ng-click="vm.createCircle()">Create Circle</button>
<button class="btn btn-primary" type="button" ng-click="vm.joinBody()">Request to join</button>
<button class="btn btn-warning" type="button" ng-click="vm.showBodyModal()">Edit Details</button>
<button class="btn btn-danger" type="button" ng-click="vm.deleteBody()">Delete Body</button>

<hr />

<div class="row">
	<h3>Bound circles</h3>

	<listcircles url="'/bodies/' + vm.body.seo_url + '/circles'" ng-if="vm.body.seo_url"></listcircles>
</div>

<ng-include src="vm.baseUrl + 'rewrite/bodies/edit_body_form.html'"></ng-include>
<ng-include src="vm.baseUrl + 'rewrite/bodies/join_request_form.html'"></ng-include>
<ng-include src="vm.baseUrl + 'rewrite/circles/edit_circle_form.html'"></ng-include>