<div class="login-cover">
  <div class="login-cover-image">
    <img src="assets/img/login-bg/bg-2.jpg" alt="Background">
  </div>
  <div class="login login-v2">
    <div class="login-content" style="text-align: center;">
      <h1>Reset your Password</h1>
      <span ng-show="!vm.showTokenField">
        <div>
          <input ng-model="vm.email" type="text" class="form-control" placeholder="Type your email" />
          <p ng-show="vm.errors.email">{{vm.errors.email}}</p>
        </div>
        <button type="button" class="btn btn-primary" ng-click="vm.sendResetRequest()">Reset</button>
        <button type="button" class="btn btn-white" ng-click="vm.showTokenField = true;">I have a token</button>
      </span>
      <span ng-show="vm.showTokenField">
        <div>
          <input ng-show="!vm.paramToken" ng-model="vm.token" type="text" class="form-control" placeholder="Copy&Paste your token here" />
          <p ng-show="vm.errors.token">{{vm.errors.token}}</p>
          <input ng-model="vm.new_password" type="password" class="form-control" placeholder="Enter a new password" />
          <input ng-model="vm.new_password_copy" type="password" class="form-control" placeholder="Enter your password again" />
          <p ng-show="vm.errors.password">{{vm.errors.password}}</p>
        </div>
        
        <button type="button" class="btn btn-primary" ng-click="vm.confirmResetRequest()">Confirm</button>
        <button ng-show="!vm.paramToken" type="button" class="btn btn-white" ng-click="vm.showTokenField = false;">Actually... I don't have a token</button>

        <p class="m-t-30 alert alert-info">Please make up your mind for a second why a <a href="https://howsecureismypassword.net/" target="_blank">strong password</a> is a good idea. We recommend a <a href="https://padlock.io/" target="_blank">password manager.</a></p>
      </span>
    </div>
  </div>
</div>