
<div class="row">
  <div class="row">
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-search"></i> Search</span>
      <input type="text" class="form-control" placeholder="Type anything" ng-model="vm.query" ng-change="vm.resetData()" />
    </div>
    <button type="button" ng-show="!vm.all" ng-click="vm.all=true; vm.resetData();" class="btn btn-primary">Show also bound circles</button>
    <button type="button" ng-show="vm.all" ng-click="vm.all=false; vm.resetData();" class="btn btn-primary">Show only free circles</button>
  </div>
</div>

<hr />

<div infinite-scroll="vm.loadNextPage()" infinite-scroll-disabled="vm.infiniteScroll.block" infinite-scroll-distance="1">
  <span ng-repeat="circle in vm.infiniteScroll.data">
    <simplecircle circle="circle"></simplecircle>
  </span>
</div>

<p ng-show="vm.infiniteScroll.data.length === 0 && !vm.infiniteScroll.busy">
  No circles found that match the current search
</p>
<p ng-show="vm.infiniteScroll.busy">
  Searching...
</p>
