<h1 class="page-header">{{ vm.circle.name }}</h1>

<div class="m-b-40">
  <table class="table">
    <tr>
      <td>Name</td>
      <td>{{ vm.circle.name }}</td>
    </tr>
    <tr>
      <td>Description</td>
      <td>{{ vm.circle.description }}</td>
    </tr>
    <tr>
      <td>Body</td>
      <td>
        <span ng-show="vm.circle.body"><a ui-sref="app.bodies.single({id: vm.circle.body.seo_url})">{{ vm.circle.body.name }}</a></span>
        <span ng-show="!vm.circle.body">This circle is not associated to a body</span>
    </td>
    </tr>
    <tr>
      <td>Joinable</td>
      <td>
        <span ng-show="vm.circle.joinable && vm.circle.body">This circle can be joined by anyone in {{ vm.circle.body.name }}</span>
        <span ng-show="vm.circle.joinable && !vm.circle.body">This circle can be joined by any member</span>
        <span ng-show="!vm.circle.joinable">Joining this circle is currently not possible</span>
      </td>
    </tr>
    <tr>
      <td>Parent Circle <a href="javascript:;" ng-click="vm.editParentCircle = !vm.editParentCircle"><i class="fa fa-pencil"></i></a></td>
      <td>
        <span ng-show="vm.circle.parent_circle"><a ui-sref="app.circles.single({id: vm.circle.parent_circle.seo_url})">{{ vm.circle.parent_circle.name }}</a> <a href="javascript:;" ng-click="vm.setParentCircle({originalObject: {id: null}})" ng-show="vm.editParentCircle"><i class="fa fa-minus"></i></a></span>
        <span ng-show="!vm.circle.parent_circle && !vm.editParentCircle">This circle is a toplevel circle</span>
        <span ng-if="vm.editParentCircle">
          <angucomplete-alt 
            id="parentCircleTypeahead" 
            placeholder="Type to set parent circle" 
            pause="50" 
            selected-object="vm.setParentCircle" 
            remote-api-handler="vm.fetchCircles" 
            title-field="name" 
            description-field="description" 
            minlength="1" 
            input-class="form-control form-control-small"> 
          </angucomplete-alt>
          <p class="label label-danger" ng-show="vm.errors.parent_circle_id">{{ vm.errors.parent_circle_id }}</p>
        </span>
      </td>
    </tr>
    <tr>
      <td>Child Circles</td>
      <td>
        <ul ng-show="vm.circle.child_circles.length">
          <li ng-repeat="child in vm.circle.child_circles">
            <a ui-sref="app.circles.single({id: child.seo_url})">{{ child.name }}</a>
          </li>
        </ul>
        <span ng-show="!vm.circle.child_circles.length">No child circles found</span>
      </td>
    </tr>
    <tr>
      <td>Attached Permissions <a href="javascript:;" ng-click="vm.editPermissions = !vm.editPermissions"><i class="fa fa-pencil"></i></a></td>
      <td>
        <ul ng-show="vm.circle.permissions.length">
          <li ng-repeat="permission in vm.circle.permissions">
            {{ permission.scope }}:{{ permission.action }}:{{ permission.object }} <a ng-show="vm.editPermissions" href="javascript:;" ng-click="vm.deletePermission(permission)"><i class="fa fa-minus"></i></a>
          </li>
        </ul>
        <span ng-show="vm.editPermissions">
          <angucomplete-alt 
              id="editPermissionsTypeahead" 
              placeholder="Type to add permission" 
              pause="50" 
              selected-object="vm.addPermission" 
              remote-api-handler="vm.fetchPermissions" 
              title-field="combined" 
              description-field="description" 
              minlength="1" 
              input-class="form-control form-control-small"> 
            </angucomplete-alt>
        </span>
        <span ng-show="!vm.circle.permissions.length && !vm.editPermissions">No permissions directly attached</span>
      </td>
    </tr>
    <tr>
      <td>Inherited Permissions<br /><small>All permissions from parent circles also apply to this circles members</small></td>
      <td>
        <ul ng-show="vm.inherited_permissions.length">
          <li ng-repeat="permission in vm.inherited_permissions">
            {{ permission.scope }}:{{ permission.action }}:{{ permission.object }}
          </li>
        </ul>
        <span ng-show="!vm.inherited_permissions.length">No permissions inherited</span>
      </td>
    </tr>
  </table>
</div>

<hr />

<div class="m-b-10">
  <button type="button" class="btn btn-white" ng-click="vm.showMembers=true" ng-show="!vm.showMembers">Show Members</button>
  <button type="button" class="btn btn-white" ng-click="vm.showMembers=false" ng-show="vm.showMembers">Hide Members</button>
  <button type="button" class="btn btn-primary" ng-click="vm.joinCircle()">Join Circle</button>
  <button type="button" class="btn btn-primary" ng-click="vm.showAddMemberModal()">Add Member</button>
  <button type="button" class="btn btn-warning" ng-click="vm.editCircle()">Edit Circle</button>
  <button type="button" class="btn btn-danger" ng-click="vm.deleteCircle()">Delete Circle</button>
</div>


<listcirclememberships ng-if="vm.showMembers" url="vm.membersUrl"></listcirclememberships>

<ng-include src="vm.baseUrl + 'rewrite/circles/edit_circle_form.html'"></ng-include>
<ng-include src="vm.baseUrl + 'rewrite/circles/add_member_form.html'"></ng-include>