
<!-- #modal-dialog -->
<div class="modal fade" id="editProfileModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Edit Profile</h4>
            </div>
            <form name="profileForm" ng-submit="vm.saveProfile()" class="margin-bottom-0" novalidate>
                <div class="modal-body">
                    <div class="form-group m-b-20">
                        <label for="first_name">First Name*</label>
                        <input type="text" id="first_name" class="form-control" ng-model="vm.member.first_name" placeholder="First Name" required/>
                        <p class="label label-danger" ng-show="vm.errors.first_name">{{ vm.errors.first_name }}</p>
                    </div>
                    <div class="form-group m-b-20">
                        <label for="last_name">Last Name*</label>
                        <input type="text" id="last_name" class="form-control" ng-model="vm.member.last_name" placeholder="Last Name" required/>
                        <p class="label label-danger" ng-show="vm.errors.last_name">{{ vm.errors.last_name }}</p>
                    </div>
                    <div class="form-group m-b-20">
                        <label for="seo_url">Profile Link</label>
                        <input type="text" id="seo_url" class="form-control" ng-model="vm.member.seo_url" placeholder="Profile Link" required/>
                        <p class="label label-danger" ng-show="vm.errors.seo_url">{{ vm.errors.seo_url }}</p>
                    </div>
                    <div class="form-group m-b-20">
                        <label for="seo_url">Primary Body</label>
                        <i ng-show="vm.member.primary_body">({{ vm.member.primary_body.name }} <a ng-click="vm.setPrimaryBody(undefined);"><i class="fa fa-minus"></i></a>)</i>
                        <angucomplete-alt 
                          id="editPrimaryBodyTypeahead" 
                          placeholder="Type to set primary body" 
                          pause="50" 
                          selected-object="vm.setPrimaryBody" 
                          remote-api-handler="vm.fetchBodies" 
                          title-field="name" 
                          description-field="description" 
                          minlength="1" 
                          input-class="form-control form-control-small"> 
                        </angucomplete-alt>
                        <p class="label label-danger" ng-show="vm.errors.primary_body_id">{{ vm.errors.primary_body_id }}</p>
                    </div>
                    <div class="form-group m-b-20">
                        <label for="email">Phone</label>
                        <input type="text" id="phone" class="form-control" ng-model="vm.member.phone" placeholder="Phone" />
                        <p class="label label-danger" ng-show="vm.errors.phone">{{ vm.errors.phone }}</p>
                    </div>
                    <div class="form-group m-b-20">
                        <label for="date_of_birth">Date of birth</label>
                        <datetimepicker ng-model="vm.member.date_of_birth" hidden-time="true" readonly-time="true"></datetimepicker>
                        <p class="label label-danger" ng-show="vm.errors.date_of_birth">{{ vm.errors.date_of_birth }}</p>
                    </div>
                    <div class="form-group m-b-20">
                        <label for="email">Gender</label>
                        <input type="text" id="gender" class="form-control" ng-model="vm.member.gender" placeholder="Gender" />
                        <p class="label label-danger" ng-show="vm.errors.gender">{{ vm.errors.gender }}</p>
                    </div>
                    <div class="form-group m-b-20">
                        <label for="address">Address</label>
                        <input type="text" id="address" class="form-control" ng-model="vm.member.address" placeholder="Address" />
                        <p class="label label-danger" ng-show="vm.errors.address">{{ vm.errors.address }}</p>
                    </div>
                    <div class="form-group m-b-20">
                        <label for="description">About me</label>
                        <input type="text" id="description" class="form-control" ng-model="vm.member.about_me" placeholder="About me"/>
                        <p class="label label-danger" ng-show="vm.errors.about_me">{{ vm.errors.about_me }}</p>
                    </div>                    
                </div>
                <div class="modal-footer">
                    <!--<button class="btn btn-sm btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i> Close</button>-->
                    <button class="btn btn-sm btn-success" type="submit"><i class="fa fa-save"></i> Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
