<div class="profile-container">
    <div class="profile-section">
        <div class="profile-left">
            <div class="profile-image">
                <img src="assets/img/profile-cover.jpg">
                <i class="fa fa-user hide"></i>
            </div>
            <div class="m-b-10" ng-show="vm.permissions.edit_profile">
                <button type="button" ng-click="vm.changePicture()" class="btn btn-warning btn-block btn-sm">Change Picture</a>
            </div>
            <div class="m-b-10" ng-show="vm.permissions.edit_profile">
                <button type="button" ng-click="vm.showEditProfileModal()" class="btn btn-warning btn-block btn-sm">Edit Profile</a>
            </div>
            <div class="m-b-10" ng-show="vm.permissions.delete_profile">
                <button type="button" ng-click="vm.deleteProfile()" class="btn btn-danger btn-block btn-sm">Delete Profile</a>
            </div>
        </div>

        <div class="profile-right">
            <div class="profile-info">
                <div class="table-responsive">
                    <table class="table table-profile">
                        <thead>
                            <tr>
                                <th></th>
                                <th>
                                    <h4>{{ vm.member.first_name }} <small>{{ vm.member.last_name }}</small></h4>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="divider highlight">
                                <td colspan="2"></td>
                            </tr>
                            <tr>
                                <td class="field">Profile link</td>
                                <td>{{ vm.member.seo_url }}</a></td>
                            </tr>
                            <tr>
                                <td class="field">Primary Body</td>
                                <td ng-if="vm.member.primary_body"><a ui-sref="app.bodies({id: vm.member.primary_body.seo_url})">{{ vm.member.primary_body.name }}</a></td>
                                <td ng-if="!vm.member.primary_body">No primary body assigned</td>
                            </tr>
                            <tr>
                                <td class="field">Phone number</td>
                                <td>{{ vm.member.phone }}</td>
                            </tr>
                            <tr>
                                <td class="field">Date of birth</td>
                                <td>{{ vm.member.date_of_birth.toLocaleDateString() }}</td>
                            </tr>
                            <tr>
                                <td class="field">Gender</td>
                                <td>{{ vm.member.gender }}</td>
                            </tr>
                            <tr>
                                <td class="field">Address</td>
                                <td>{{ vm.member.address }}
                            </tr>
                            <tr>
                                <td class="field">About Me</td>
                                <td>{{ vm.member.about_me }}</td>
                            </tr>
                            <tr class="divider highlight">
                                <td colspan="2"></td>
                            </tr>
                            <tr>
                                <td class="field">Email</td>
                                <td>{{ vm.user.email }}</td>
                            </tr>
                            <tr>
                                <td class="field">Username</td>
                                <td>{{ vm.user.name }}</td>
                            </tr>
                            <tr>
                                <td class="field">Login suspended</td>
                                <td>
                                    <span ng-show="vm.user.active == true">No</span>
                                    <span ng-show="vm.user.active == false">Yes</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="profile-section">
        <div class="row">
            <!-- Bodies column -->
            <div class="col-lg-6" ng-show=vm.member.body_memberships>
                <h4 class="title">Bodies</h4>
                <div class="row" ng-repeat="body_membership in vm.member.body_memberships">
                    <bodytile body="body_membership.body"></bodytile>
                </div>
            </div>

            <div class="col-lg-6" ng-show="vm.member.circle_memberships">
                <h4 class="title">Circles</h4>
                <span ng-repeat="circle_membership in vm.member.circle_memberships">
                    <simplecircle circle="circle_membership.circle"></simplecircle>
                </span>
            </div>
        </div>
    </div>
</div>

<!-- ########################### Body types edit modal ###################### -->
<ng-include src="vm.baseUrl + 'loggedIn/profile/edit_profile_form.html'"></ng-include>
